#app {
  background-color: #b0b0ae!important;
}

.logo-name {
  color: #b8dbdb !important;
}

.picker {
  display: inline-block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.picker__active {
  border: 2px solid #000;
}

.alert__note-error {
  position: absolute!important;
  bottom: 10px!important;
  z-index: 10000;
  left: 0!important;
  right: 0!important;
  background-color: #1e1e1e!important;
  animation: slideUp 3s ease-in-out;

  @-webkit-keyframes slideUp {
    0%, 100% { -webkit-transform: translateY(50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
  }
  @-moz-keyframes slideUp {
    0%, 100% { -moz-transform: translateY(50px); }
    10%, 90% { -moz-transform: translateY(0px); }
  }

  .alert__note-title {
    color: #fff;
  }
  .alert__note-subtitle {
    color: #fff!important;
  }
}
